@font-face {
  font-family: 'AcmeRegular';
  src: url('./fonts/Acme/Acme-Regular.ttf');
  font-weight: 400;
}

body {
  background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(186,17,105,1) 100%);
}

.title {
  display: flex;
  color: mintcream;
  justify-content: center;
  font-family: 'AcmeRegular';
  font-size: 3em;
}

.container {
  max-width: 37.5rem;
  overflow: hidden;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 1%;
}

.slider-items {
  display: flex;
  overflow: hidden;
  width: 400%;
  height: 100%;
  transition: all 0.5s ease;
}

.slider input {
  display: none;
}

.slide {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.slide-text {
  display: flex;
  justify-content: flex-start;
  color: mintcream;
  font-family: 'AcmeRegular';
  font-size: 1.7rem;
  padding-left: 0.625rem;
  margin-bottom: 0.8em;
  opacity: 0;
  transition: all 1s ease;
}

img {
  width: 100%;
  height: 100%;
}

.slider__nav {
  display: flex;
  justify-content: flex-end;
  gap: 0.313rem;
  transform: translateY(-235%);
  padding-right: 0.625rem;
}

.slider__nav-item {
  width: 1rem;
  height: 1rem;
  border: 0.125rem solid #fff;
  cursor: pointer;
  transition: all 0.4s;
  border-radius: 50%;
  background-color: transparent;
}

.slider__nav-item:hover {
  background-color: #fff;
}

#slide-1:checked ~ .slider__nav > #item1,
#slide-2:checked ~ .slider__nav > #item2,
#slide-3:checked ~ .slider__nav > #item3,
#slide-4:checked ~ .slider__nav > #item4 {
  border: 0.125rem solid rgba(186,17,105,1);
  background-color: #fff;
}

#slide-1:checked ~ .slider-items > :nth-child(1) > .slide-text,
#slide-2:checked ~ .slider-items > :nth-child(2) > .slide-text,
#slide-3:checked ~ .slider-items > :nth-child(3) > .slide-text,
#slide-4:checked ~ .slider-items > :nth-child(4) > .slide-text {
  opacity: 1;
}

#slide-1:checked ~ .slider-items {
  transform: translateX(0);
}

#slide-2:checked ~ .slider-items {
  transform: translateX(-25%);
}

#slide-3:checked ~ .slider-items {
  transform: translateX(-50%);
}

#slide-4:checked ~ .slider-items {
  transform: translateX(-75%);
}


@media (max-width:30rem) {
  .slider__nav {
    justify-content: center;
    transform: translateY(-270%);
  }

  .slide-text {
    transform: translateY(70%);
    font-size: 1.4rem;
  }
}